<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Home" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <Label class="page__content-icon fas" text="&#xf015;"></Label>

  <GridLayout rows="50,*,50" class="tarjeta">
      <Label text="Curso de Nativescript" class="h2"></Label>
      <Image src="res://logoopenwebinarsrectangular" row="1" style="background-color: white;"></Image>
      <Label text="Bienvenidos al curso de Nativescript más Angular" textWrap="true" row="2" class="body"></Label>
  </GridLayout>
</GridLayout>
