<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Home" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <Label class="page__content-icon fas" text="&#xf015;"></Label>

  <RadListView [items]="dataPhotos" tkExampleTitle tkToggleNavButton style="background-color: rgb(237, 237, 237);">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout>
                <GridLayout rows="50,*,50" columns="*" class="tarjeta">
                    <Label [text]="item?.title" class="h2"></Label>
                    <Image [src]="item?.url" row="1"></Image>
                    <!-- <Image src="res://logoopenwebinarsrectangular" row="1"></Image> -->
                    <Label [text]="item?.thumbnailUrl" textWrap="true" row="2" class="body"></Label>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>
